{% extends "base.html" %} 
{% block title %}Entry{% endblock %}
{% block content %}
<div class="col overflow-auto h-100 p-4 ">
    <div class="d-flex justify-content-center">
        <h1>{{entry.title}}</h1>
    </div>
    <div class="d-flex justify-content-center">
        <p>{{entry.text}}</p>
    </div>
    
    <p>Yours truly {{entry.author.first_name}}</p>
    <blockquote>{{entry.created}}</blockquote>
    <br>
    <div class="d-flex justify-content-between">
        <a href="{% url 'edit_entry' entry.id %}" class="btn btn-outline-primary">Edit</a>
        <a href="{% url 'delete_entry' entry.id %}" class="btn btn-outline-danger">Delete</a>
    </div>
    <div class="d-flex flex-row-reverse"></div>   
</div>
{% endblock %}
