{% extends "base.html" %} 
{% load static %}

{% block title %}Home{% endblock %}
{% block content %}

<div class="col overflow-auto h-100 p-4">
    {% if  user_specific_entries %}
        {% for entry in user_specific_entries %}
            <div class="row card no-gutters bg-body position-relative  border-dark border-bottom">
                <div class="col-md-6 position-static p-3 pl-md-0">
                    <h5 class="mt-0">{{ entry.title }}</h5>
                    <p>{{ entry.summary }}</p>
                    <a href="{% url 'entry' entry.id %}" class="stretched-link"><small class="text-muted">View entry . . .</small></p></a>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div><br><br>
        {% endfor %}
    {% else %}
        <div class="col-md-12 text-center position-absolute top-50 start-50 translate-middle">
            <h1>No entries yet (>_<)</h1><br><br>
            <a href="{% url 'create_entry' %}" class="text-center btn btn-outline-dark">START CREATING</a>
        </div>    
            
    {% endif %}
</div>
{% endblock %}